@model SalesWebMVC.Models.ViewModels.SellerFormViewModel



@{
    ViewData["Title"] = "Create";
}


<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
@*Acrescenta uma linha*@
<hr />
@*O class= row garante que o div vai acupar a largura da tela:*@
<div class="row">
    @*O bootstrap divide a tela em 12 partes, o cool-4 significa que 1/3 da tela será utilizado
        Se fosse cool-6, seria 1/2:*@
    <div class="cool-4">
        @*Ação que chama o método POST*@
        <form asp-action="Create">
            <div class="form-group">
                @*Define o label que vai aparecer na caixinha para ser digitado:*@
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="form-group">
                @*Define o label que vai aparecer na caixinha para ser digitado:*@
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="form-group">
                @*Define o label que vai aparecer na caixinha para ser digitado:*@
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                @*Define o label que vai aparecer na caixinha para ser digitado:*@
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                @*Monta a caixinha de seleção*@
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                                                       @*constroi os itens de uma caixa de seleção
                                                       com base numa coleção que for passada:*@ 
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id",
                "Name"))" class="form-control"></select>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class=" btn btn-default" />
            </div>
            
        </form>

    </div>
</div>
